h1,h2{
    font-family: Arial;/*Sets font to Arial*/
    font-size: 22px;/*Sets font size to 22px*/
    color: navy;/*Sets font color to navy*/
}

p{ 
    font-family: Arial;/*Sets font to Arial*/
     font-size: 18px;/*Sets font size to 18px*/
     
     
    
     


}
li{
    font-family:  sans-serif;/*Sets font to sans-serif*/
    font-size: 18px;/*Sets font size to 18px*/
    color: #333333;/*Sets font color to #333333*/
    


    
}

h3 
{
    font-family: Arial;/*Sets font to Arial*/
    font-size: 18px;
    color: navy;/*Sets font color to navy*/
}
body{
    margin: 20px;/*Sets margin to 20px*/
    background-color: lightblue;/*Sets background color to lightblue*/
}