h1,h2{
    font-family: Arial;
    font-size: 22px;
    color: #333333;
    color: navy;
}

p{ 
    font-family: Arial;
     font-size: 18px;
     
     
    
     


}
li{
    font-family:  sans-serif;
    font-size: 18px;
    color: #333333;
    


    
}

h3 
{
    font-family: Arial;
    font-size: 18px;
    color: navy;
}
body{
    margin: 20px;
    background-color: lightblue;
}