h1
{
    font-family: Arial;/*Sets font to Arial*/
    font-size: 20px;/*Sets font size to 20px*/
    color: navy; /*Sets font color to navy*/



}

p
{
    font-family: Arial;/*Sets font to Arial*/
    font-size: 20px;/*Sets font size to 20px*/
    



}

h3
{
   
    font-size: 18px;/*Sets font size to 18px*/
    font-family: Arial;/*Sets font to Arial*/
    color: navy; /*Sets font color to navy*/

}

li{
    font-family:  sans-serif;/*Sets font to sans-serif*/
    font-size: 18px;/*Sets font size to 18px*/
    color: #333333;/*Sets font color to #333333*/


    
}

h2
{
    font-family: Arial;/*Sets font to Arial*/
    font-size: 20px;/*Sets font size to 20px*/
    color:navy;/*Sets font color to navy*/
}

body
{
    background-color: lightblue;/*Sets background color to lightblue*/
    margin: 20px;/*Sets margin to 20px*/
}